/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*Base format*/
html,
body {
  font-size: 1.225em;
  font-family: helvetica, Arial, sans-serif;
  background-color: #333;
  padding: 0.313em;
}

/*model formating*/
#content {
  color: #376;
  display: table;
  width: 100%;
  margin: auto;
  padding-top: 1.225em;
}

#brief,
#heading,
#signup {
  color: #B6AFAF;
  display: flex;
  justify-content: center;
  align-content: vertical;
  vertical-align: middle;
}


#signup ol li {
  display: block;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  float: center;
}

#brief {
  /*-30% of 1.225 1.225 - .3675 = .8575*/
  font-size: 0.8575em;
  margin-bottom: 1.30625em;
}

/*Forms*/
input {
  padding: 0.225em;
  margin-top: 0.30625em; /*75% of 1.225 = 0.91875 1.225 - 0.91875 = 0.30625*/
  margin-bottom: 0.30625em;
  font-size: inherit;
  line-height: inherit;
  outline: 0;
  width: 100%;
}
label {
  font-size: inherit;
  line-height: inherit;
  border: 0;
  outline: 0;
  width: 100%;
}
#signup li ::after {
  content: " :";
}

.msg {
  opacity: 0.33;
  border: 0.33;
  border-color: #2874CF;
}

input[type="submit"]:hover {
  cursor: pointer;
  color: #CEC5C5;
  background-color: #998E8E;
}
